* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(../image/inicio.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.container .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif; 
}

.container .form .form-header .form-title span{
    color: #fff;
}

.container .form{
    background: rgba(0,0,0,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    border-radius: 3px
}

.container .form .form-label {
    display: block;
    color: rgb(11, 216, 223);
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
}

.container .form .button-submit:hover{
    background: rgb(7, 145, 236)
}

.container .form .form-input{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family: sans-serif;
}

.container .form{
    resize: vertical;
    max-height: 530px;
    min-height: 50px;
}

.container .form .button-submit{
    width: 100%;
    font-family: sans-serif;
    outline: none;
    background: rgb(11, 216, 223);
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all 1.0s ease
}

.form-title{
    text-align: center;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.list{
    color: #fff;
    background: rgba(0,0,0,.7);
}

option{
    color: #fff;
    background-color: rgba(0,0,0,.7) ;
}



